<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ejercicioxo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".XO"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ElegirJugador"
            android:label="@string/title_activity_elegir_jugador"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".JugadoresEdicion"
            android:label="@string/title_activity_jugadores_edicion"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".JugadoresMain"
            android:label="@string/title_activity_jugadores_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>